<div class="list-group">
    <a href="@Url.Action("Index", "Home")" class="list-group-item list-group-item-action">Home</a>
    <a href="@Url.Action("Index", "Teams")" class="list-group-item list-group-item-action">Teams</a>
    <a href="@Url.Action("Index", "Players")" class="list-group-item list-group-item-action">Players</a>
    <a href="@Url.Action("Index", "Trades")" class="list-group-item list-group-item-action">Trades</a>
    <a href="@Url.Action("MyTeams", "Teams")" class="list-group-item list-group-item-action">My Custom Teams</a>
</div>
